@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.main {
  height: 100vh;
  width: 100vw;
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section */

.section {
  font-family: "Righteous", cursive;
}

.regular-timer-button {
  font-family: "Righteous", cursive;
  margin-right: 0;
  background: #eeeeee;
  border-radius: 23px 0px 0px 23px;
  border: 0;
  color: #00adb5;
  padding: 0.8rem 2.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.short-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
}

.long-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
  border-radius: 0px 23px 23px 0px;
}

.description {
  max-width: 600px;
  text-align: justify;
  color: #eee;
}

.instructions {
  max-width: 400px;
  text-align: justify;
  color: #00adb5;
}

/* bg */

.bgOne-image {
  width: 25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bgTwo-image {
  width: 25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
