/* Section */

.section {
  font-family: "Righteous", cursive;
}

.regular-timer-button {
  font-family: "Righteous", cursive;
  margin-right: 0;
  background: #eeeeee;
  border-radius: 23px 0px 0px 23px;
  border: 0;
  color: #00adb5;
  padding: 0.8rem 2.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.short-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
}

.long-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
  border-radius: 0px 23px 23px 0px;
}
