/* Section */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.section {
  font-family: "Righteous", cursive;
}

.regular-timer-button {
  font-family: "Righteous", cursive;
  margin-right: 0;
  background: #eeeeee;
  border-radius: 23px 0px 0px 23px;
  border: 0;
  color: #00adb5;
  padding: 0.8rem 2.6rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.regular-timer-button-inactive {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  border-radius: 23px 0px 0px 23px;
  border-right: 1px solid #eee;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
}

.short-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
}

.short-interval-button-active {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 1.1rem;
  color: #00adb5;
  background-color: #eeeeee;
  cursor: pointer;
}

.long-interval-button {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  font-size: 1.1rem;
  color: #eeeeee;
  background-color: #00adb5;
  cursor: pointer;
  border-radius: 0px 23px 23px 0px;
}

.long-interval-button-active {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0.8rem 2.6rem;
  border: 0;
  font-size: 1.1rem;
  color: #00adb5;
  background-color: #eeeeee;
  cursor: pointer;
  border-radius: 0px 23px 23px 0px;
}

.countdown-div {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
